@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200;300;400;500;600;700;800&display=swap');


:root{
  --Primary-color: rgb(26, 54, 54);
  --Second-color: rgb(64, 83, 76);
  --Thurd-color: rgb(50, 66, 52);
  --Fourth-color: rgb(214, 189, 152);
}
*{
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  color: var(--Fourth-color);
  direction: rtl;
  font-family: 'Lateef';
  font-size: 1.3rem;
  transition: 0.25s ease-in-out;
}

body{
  background-color: var(--Primary-color);
  height: 100vh;
}
.mainDiv{
  border-radius: 50px;
  /* border: 3px dashed rgba(214, 189, 152, 0.25); */
  max-width: 100vw;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation:  1s linear infinite;
}
@keyframes backgroundAnimation {
  0%{
    background: linear-gradient(0deg, rgb(25, 0, 58), rgb(118, 0, 154));
  }
  100%{
    background: linear-gradient(90deg, rgb(25, 0, 58), rgb(118, 0, 154));
  }
}
.titlesDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 990px;
  padding: 25px;
  /* border-bottom: 2px solid rgba(214, 189, 152, 0.25); */
  margin-bottom: 50px;
  align-items: center;
  box-shadow: 15px 15px 25px  rgba(0, 0, 0, 0.1),
              inset 10px 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  background-color: var(--Primary-color);
}
.titlesDiv div p{
  color: var(--Forth-color);
  text-align: center;
}
.titlesDiv .selectLocationDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  & select{
    cursor: pointer;
    min-width: 5em;
    width: 7em;
    max-width: 10em;
    background-color: transparent;
    border: 2px dashed var(--Thurd-color);
    border-radius: 10px;
    padding: 2.5px 15px;
    & option{
      cursor: pointer;
      background-color: var(--Primary-color);
      min-width: 5em;
      max-width: 5em;
      height: 100px;
    }
  }
}
.salahCardsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
  padding-top: 0;
}