@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

.mainFooterDiv{
  background-color: rgb(11, 24, 24);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  direction: ltr;
  flex-wrap: wrap;
  margin-top: 2.5em;
  font-family: 'Gabarito';
  padding: 50px;
  gap: 2rem;
  & p, & div{
    font-family: 'Gabarito';
    direction: ltr;
  }
}

.devInfoDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  &::before{
    content: '';
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    top: 120%;
    left: 0;
    transform: perspective(2em) rotateX(45deg) scale(0.50);
    filter: blur(1.5em);
  }
}
.devInfoDiv .imgDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.devInfoDiv .imgDiv img{
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 0 0 0 2px rgb(255, 255, 255, 1),
              0 0 0 6px rgba(255, 255, 255, 0.15),
              0 0 1em 0 white;
}
.devInfoDiv .infoDiv{
  border-radius: 25px;
  padding: 10px;
  text-align: start;
  position: relative;
  & p{
    padding: 0px;
    color: white;
    text-shadow: 0 0 1em white;
  }

}
.devInfoDiv .infoDiv #devName{
  font-size: 1rem;
  font-weight: 900;
}
.devInfoDiv .infoDiv #devJob{
  font-size: 0.5rem;
  font-weight: 100;
}

.splittLine{
  background-color: white;
  width: .10em;
  height: 1.5em;
  box-shadow: 0 0 1em white;
  animation: splittLineAnimation 5s infinite ease-out;
  border-radius: 100px;
}
@keyframes splittLineAnimation {
  0%{
    background-color: white;
    transform: rotateX(0deg);
  }
  20%{
    background-color: rgb(124, 0, 254);
    transform: rotateX(180deg);
    box-shadow: 0 0 1em rgb(124, 0, 254);
  }
  40%{
    background-color: white;
    transform: rotateX(0deg);
  }
}

.socialLinksDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: .5em;
  margin-bottom: -.25em;
  padding-bottom: 3em;
  padding-top: 3em;
}
.socialLinksDiv a{
  text-decoration: none;
  outline: none;
  position: relative;
  text-shadow: 0 0 1em white;
  padding: 0 10px;
  /* transition: 0.25s ease-in-out; */
  &::before{
    content: '';
    pointer-events: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    top: 155%;
    left: 0;
    transform: perspective(0.75em) rotateX(45deg) scale(0.5);
    filter: blur(0.75em);
    transition: 0.25s ease-in-out;
  }
  &:hover{
    text-shadow: 0 0 1em rgb(124, 0, 254);
    color: rgb(124, 0, 254);
    & i{
      color: rgb(124, 0, 254);
    }
    &::before{
      background-color: rgb(124, 0, 254);
    }
  }
}
.socialLinksDiv a i{
  color: white;
  position: relative;
  transition: 0.25s ease-in-out;
}

@media screen and (max-width: 337px){
  .splittLine{
    display: none;
  }
}